body{
    margin:0;
    font-family:"Roboto Flex",sans-serif;
    font-weight: 400;
}
header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color:#FFD900;
    padding: 10px 20px;
}
header img{
    height: 60px;
    width:auto;
    border:1px solid #FFD900;
    border-radius: 76px;
}
nav ul{
    display:flex;
    list-style:none;
    margin: 0;
    padding: 0;
}
nav li{
    margin: 25px;
    padding:0px 10px;
}
nav a{
    text-decoration:none;
    color:black;
    font-weight: bold;
    font-size:16px;
}
.matricule-se{
    display:block;
    background-color: black;
    padding:12px 24px;
    text-decoration:none;
    color:white;
    font-family:"Roboto Flex",sans-serif;
    font-weight: 800;
    border-radius: 30px;
}
footer{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color: black;
    color: white;
    padding: 40px 20px;
    text-align:center;
    margin:0 auto;
}
footer .logo{
    height:120px;
    width:auto;
    margin-bottom: 40px;
}
footer .logos{
    display:flex;
}
footer .logos img{
    margin:16px;
    width: 60px;
    height: auto;
    border: 3px solid white;
    border-radius: 100px;
}
footer .linha{
    background-color: white;
    opacity: 0.8;
    width:100%;
    height: 0.7px;
    margin: 40px 0px;
}
footer .redes-sociais h4{
    font-size:20px;
    font-weight: 600;
}
footer .informações h5{
    font-size: 18px;
}
footer .informações p{
    font-size:16px;
}
main .p1{
    padding: 3px 10px;
    color: white;
    background-color: black;
}
main .p1 strong{
    color: #FFD900;
}
main .p1 .conteudo .conteudo-texto{
    display: flex;
    flex-direction: column;
}
main .p1 .conteudo{
    display: flex;
    align-items: center;
}
main .p1 .conteudo .imagem-gradiente{
    width: 800px;
    height: 500px;
    background-image: 
    linear-gradient(to right, rgb(0,0,0), rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, rgb(0,0,0)),
    linear-gradient(to top, rgb(0,0,0), rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, rgb(0,0,0)),
    url(../trabalho_ihm/imagens/fundo2.jpeg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}
main .p1 .topo{
    position: relative;
    background: 
        linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0) 40%, rgba(0,0,0,0) 60%, rgb(0, 0, 0)), /* Degrade nas laterais */
        url(../trabalho_ihm/imagens/fundo1.png) center center / cover no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.404);
    min-height:100vh;
    padding: 20px 7%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;
    text-align: left;
}
.topo h1{
    font-size: 32px;
    margin-bottom: 10px;
}
.topo h3{
    font-size: 24px;
}
.topo .linha{
    width: 500px;
    height: 3px;
    background: 
        linear-gradient(to right, white 40%, transparent);
    margin: 10px 0px;
    margin-bottom: 300px;
}
.topo .botão-planos{
    background-color:#FFD900 ;
    border: 20px solid #FFD900;
    border-radius: 24px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    align-self: center;
}

.topo .botões .gympass{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topo .botões img{
    border-radius: 100px;
    width: 70px;
    height: auto;
    box-shadow: 0.4px 8px rgba(0,0,0,0.3);
}
.topo .botões{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    right: 30px;
    z-index: 1000;
}
.p2 {
    background-color: black;
    margin: 0;
}
h1#centro{
    text-align: center;
    color: white;
    margin: 0;
    padding: 20px;
}
hr#p2{
    margin: 0;
}

.aulas{
    width: 236px;
    height: 394px;
    background-color: black;
    border: 3px solid #FFD900;
    border-radius: 36px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    font-size: 22px;
}
.geral {
    padding: 50px;
    display: flex;
    gap: 46px; 
    flex-wrap: wrap; 
    justify-content: center;
}
p#horario{
    margin: 0;
}
p#professor{
    margin: 15px 0px 0px 0px;
}
p#nome{
    margin: 0;
}
p#aula{
    margin: 12px 0px 15px 0px;
}