body{
    margin:0;
    font-family:"Roboto Flex",sans-serif;
    font-weight: 400;
}
header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color:rgb(235, 235, 0);
    padding: 10px 20px;
}
header img{
    height: 60px;
    width:auto;
    border:1px solid yellow;
    border-radius: 76px;
}
nav ul{
    display:flex;
    list-style:none;
    margin: 0;
    padding: 0;
}
nav li{
    margin: 25px;
    padding:0px 10px;
}
nav a{
    text-decoration:none;
    color:black;
    font-weight: bold;
    font-size:16px;
}
.matricule-se{
    display:block;
    background-color: black;
    padding:12px 24px;
    text-decoration:none;
    color:white;
    font-family:"Roboto Flex",sans-serif;
    font-weight: 800;
    border-radius: 30px;
}
footer{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color: black;
    color: white;
    padding: 40px 20px;
    text-align:center;
    margin:0 auto;
}
footer .logo{
    height:120px;
    width:auto;
    margin-bottom: 40px;
}
footer .logos{
    display:flex;
}
footer .logos img{
    margin:16px;
    width: 60px;
    height: auto;
    border: 3px solid white;
    border-radius: 100px;
}
footer .linha{
    background-color: white;
    opacity: 0.8;
    width:100%;
    height: 0.7px;
    margin: 40px 0px;
}
footer .redes-sociais h4{
    font-size:20px;
    font-weight: 600;
}
footer .informações h5{
    font-size: 18px;
}
footer .informações p{
    font-size:16px;
}
main .p1{
    padding: 3px 10px;
    background-color: black;
    color: white;
}
main .p1 strong{
    color: yellow;
}
main .p1 .conteudo .conteudo-texto{
    display: flex;
    flex-direction: column;
}
main .p1 .conteudo{
    display: flex;
    align-items: center;
}
main .p1 .conteudo img{
    width: 800px;
    height: auto;
}
